### 2.10 서울시 구별 CCTV 현황 분석
- 서울시 자치구 연도별 CCTV 설치 현황
- 서울시 주민등록인구(구별) 통계

In [1]:
import numpy as np
import pandas as pd

#### 1. CCTV 데이터

In [6]:
cctv = pd.read_csv('data/서울시 자치구 년도별 CCTV 설치 현황_230630기준.csv',
                   encoding='EUC-KR', index_col='구분', thousands=',')
cctv.head(3)

,Unnamed: 0,총계,2014년 이전,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
구분,,,,,,,,,,,,,
계,NaN,92991,5896.0,3927,6416,8812,11598,10887,13083,11803,9396,9302,1871.0
종로구,1.0,1966,553.0,103,160,130,144,150,67,233,88,207,131.0
중 구,2.0,2584,217.0,77,236,240,372,386,155,361,403,137,0.0

In [7]:
cctv.drop(columns=['Unnamed: 0', '총계', '2023년'], inplace=True)
cctv.drop(['계'], inplace=True)          # '계' 행 지우기
cctv.head(3)

     2014년 이전  2014년  2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년
구분
종로구     553.0    103    160    130    144    150     67    233     88    207
중 구     217.0     77    236    240    372    386    155    361    403    137
용산구      87.0     68     83    295    491    115    322    623    422    464

In [9]:
# 결측치가 있는지 확인
cctv['2014년 이전'].isna().sum()

1

In [10]:
# 결측치를 0으로 대체하고, 타입을 정수로 변경
cctv['2014년 이전'] = cctv['2014년 이전'].fillna(0).astype(int)
cctv.head(3)

     2014년 이전  2014년  2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년
구분
종로구       553    103    160    130    144    150     67    233     88    207
중 구       217     77    236    240    372    386    155    361    403    137
용산구        87     68     83    295    491    115    322    623    422    464

In [11]:
cctv['CCTV댓수'] = cctv.sum(axis=1)
cctv.head(3)

,2014년 이전,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,CCTV댓수
구분,,,,,,,,,,,
종로구,553,103,160,130,144,150,67,233,88,207,1835
중 구,217,77,236,240,372,386,155,361,403,137,2584
용산구,87,68,83,295,491,115,322,623,422,464,2970

In [12]:
cctv['최근증가율'] = (cctv.loc[:, '2020년':'2022년'].sum(axis=1) / cctv['CCTV댓수'] * 100).round(2)
cctv.head(3)

,2014년 이전,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,CCTV댓수,최근증가율
구분,,,,,,,,,,,,
종로구,553,103,160,130,144,150,67,233,88,207,1835,28.77
중 구,217,77,236,240,372,386,155,361,403,137,2584,34.87
용산구,87,68,83,295,491,115,322,623,422,464,2970,50.81

In [14]:
cctv.drop(columns=['2014년 이전'] + '2014년	2015년	2016년	2017년	2018년	2019년	2020년	2021년	2022년'.split(),
          inplace=True)
cctv.head()

     CCTV댓수  최근증가율
구분
종로구    1835  28.77
중 구    2584  34.87
용산구    2970  50.81
성동구    4040  26.83
광진구    3480  34.51

In [26]:
# '중 구'의 blank 없애기
cctv.index = cctv.index.str.replace(' ', '')
cctv.index[1]

'중구'

#### 2. 인구 데이터 정리하기

In [15]:
pop = pd.read_csv('data/서울시 구별 주민등록인구.csv', skiprows=1)
pop.head()

,동별(1),동별(2),세대 (세대),계 (명),한국인 (명),등록외국인 (명),세대당인구 (명),65세이상고령자 (명),세대 (세대).1,계 (명).1,한국인 (명).1,등록외국인 (명).1,인구밀도
0,합계,소계,4463385,9668008,9426404,241604,2.11,1690961,4469158,9659322,9414093,245229,2
1,합계,종로구,72679,152212,141060,11152,1.94,28265,72507,151349,140397,10952,2
2,합계,중구,63862,131390,120963,10427,1.89,25353,64375,132054,121441,10613,2
3,합계,용산구,109735,232482,217756,14726,1.98,39478,109679,232069,217288,14781,2
4,합계,성동구,133513,287240,280240,7000,2.10,48238,133484,286564,279374,7190,2

In [16]:
pop = pop[['동별(2)','계 (명)','한국인 (명)','등록외국인 (명)','65세이상고령자 (명)']]
pop.head(3)

  동별(2)    계 (명)  한국인 (명)  등록외국인 (명)  65세이상고령자 (명)
0    소계  9668008  9426404     241604       1690961
1   종로구   152212   141060      11152         28265
2    중구   131390   120963      10427         25353

In [17]:
pop.columns = ['구별','인구수','내국인','외국인','고령자']
pop.head(3)

    구별      인구수      내국인     외국인      고령자
0   소계  9668008  9426404  241604  1690961
1  종로구   152212   141060   11152    28265
2   중구   131390   120963   10427    25353

In [18]:
# 첫번째 행 지우기
pop.drop([0], inplace=True)
pop.head(3)

    구별     인구수     내국인    외국인    고령자
1  종로구  152212  141060  11152  28265
2   중구  131390  120963  10427  25353
3  용산구  232482  217756  14726  39478

In [19]:
# 구별을 인덱스로 만들기
pop.set_index('구별', inplace=True)
pop.head(3)

        인구수     내국인    외국인    고령자
구별
종로구  152212  141060  11152  28265
중구   131390  120963  10427  25353
용산구  232482  217756  14726  39478

In [20]:
# 외국인 비율, 고령자 비율
pop['외국인 비율'] = (pop.외국인 / pop['인구수'] * 100).round(2)
pop['고령자 비율'] = (pop['고령자'] / pop['인구수'] * 100).round(2)
pop.head(3)

        인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
구별
종로구  152212  141060  11152  28265    7.33   18.57
중구   131390  120963  10427  25353    7.94   19.30
용산구  232482  217756  14726  39478    6.33   16.98

#### 3. CCTV 데이터와 POP 데이터 합치기

In [27]:
df = pd.merge(cctv, pop, left_index=True, right_index=True)
df.head()

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
종로구    1835  28.77  152212  141060  11152  28265    7.33   18.57
중구     2584  34.87  131390  120963  10427  25353    7.94   19.30
용산구    2970  50.81  232482  217756  14726  39478    6.33   16.98
성동구    4040  26.83  287240  280240   7000  48238    2.44   16.79
광진구    3480  34.51  350925  336801  14124  54854    4.02   15.63

In [28]:
df.shape

(25, 8)

In [29]:
df.index.name = '구별'
df.head()

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
구별
종로구    1835  28.77  152212  141060  11152  28265    7.33   18.57
중구     2584  34.87  131390  120963  10427  25353    7.94   19.30
용산구    2970  50.81  232482  217756  14726  39478    6.33   16.98
성동구    4040  26.83  287240  280240   7000  48238    2.44   16.79
광진구    3480  34.51  350925  336801  14124  54854    4.02   15.63

In [30]:
df.to_csv('data/서울시 구별 CCTV 인구 현황.csv')

In [31]:
pd.read_csv('data/서울시 구별 CCTV 인구 현황.csv').head()

    구별  CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
0  종로구    1835  28.77  152212  141060  11152  28265    7.33   18.57
1   중구    2584  34.87  131390  120963  10427  25353    7.94   19.30
2  용산구    2970  50.81  232482  217756  14726  39478    6.33   16.98
3  성동구    4040  26.83  287240  280240   7000  48238    2.44   16.79
4  광진구    3480  34.51  350925  336801  14124  54854    4.02   15.63